<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Logging Properties -->
    <Properties>
        <Property name="EXT_PATTERN">%d{yyyy-MM-dd}-%i</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="fileRoot"
                     fileName="log/root-debug.log"
                     filePattern="log/root-debug-${EXT_PATTERN}.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="fileSpring"
                     fileName="log/spring-debug.log"
                     filePattern="log/spring-debug-${EXT_PATTERN}.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="fileWebApp002"
                     fileName="log/webApp002-debug.log"
                     filePattern="log/webApp002-debug-${EXT_PATTERN}.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="fileRoot"/>
        </Root>

        <Logger name="org.springframework" level="debug" additivity="false">
            <AppenderRef ref="fileSpring" level="debug" additivity="false"/>
        </Logger>

        <Logger name="su.svn.WebApp002" level="debug" additivity="false">
            <AppenderRef ref="fileWebApp002" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>
